.wrapper {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
}

.subWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscriptionBtn {
  width: 300px;
  height: 50px;
  background: lightblue;
}
