.fontLarge {
  font-size: 50px;
}

.wrapper {
  margin: 40px;
}

.nextBtn {
  background: lightblue;
}

.backBtn {
  width: 100px;
  height: 50px;
  background: orange;
}

.nextBtn {
  width: 100px;
  height: 50px;
  background: orange;
}

.payoutBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
